---
title: Covid-19 Statistics
layout: layouts/home.njk
description: Coronavirus stats
image: https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/440px-SARS-CoV-2_without_background.png
date: Last Modified
---
<div class="flexbox-container">
  <div id="countries">
    <h2>Countries</h2>
    {% set countrieslist = collections.countries %}
    {% include "countrieslist.njk" %}
  </div>
  
  <div id="states">
    <h2>US States</h2>
    {% set stateslist = collections.states %}
    {% include "stateslist.njk" %}
  </div>
</div>